<main class="container">
  <div class="mt-5">
    <h1 class="mb-3">New Career</h1>
  </div>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="title" class="form-label">Title</label>
      <input type="title" class="form-control" id="title">
    </div>
    <div class="col-md-3">
      <label for="started_at" class="form-label">Started at</label>
      <input type="date" class="form-control" id="started_at">
    </div>
    <div class="col-md-3">
      <label for="ended_at" class="form-label">Ended at</label>
      <input type="date" class="form-control" id="ended_at" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" rows="3"></textarea>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-secondary me-3">Back</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</main>
