<main class="container pt-5">
  <h4 class="mb-3">Edit Blog</h4>
  <%= render partial: "blog_form" , locals: { blog_notion_form: blog_notion_form } %>
  <%= button_to "Delete", blog_path(blog), class: "btn btn-danger w-25 mt-5", method: :delete %>
</main>
