@use "/src/app/variables.scss" as *;

.item {
  border-top: solid 1px $color-main;
  display: flex;
  margin-bottom: 5rem;
  .icon {
    position: relative;
    left: -2rem;
    content: "";
    width: 7.5rem;
    height: 5rem;
    background-color: $color-main;
    border-radius: 50%;
    margin-top: 10px;
  }
  .icon::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: $color-main;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    margin: auto;
  }
  .content {
    .head {
      display: flex;
      align-items: baseline;
      .title {
        font-size: $fontsize-lg;
        align-items: center;
        margin-top: $space-md;
        margin-right: $space-md;
      }
      .period {
        font-size: $fontsize-sm;
      }
    }
    .description {
      font-size: $fontsize-sm;
    }
  }
}
