@use "/src/app/variables.scss" as *;

.header {
  height: 30rem;
  background-color: $color-main;
  position: relative;
  .container {
    padding-left: 32rem;
    color: $color-white;
    .userName {
      padding-top: 6rem;
      font-size: 10rem;
      line-height: 9rem;
    }
    .email {
      display: flex;
      font-size: $fontsize-md;
      padding-top: 1rem;
      margin-left: 1rem;
      align-items: center;
      .icon {
        margin-right: $space-md;
        width: 2.5rem;
      }
    }
  }
}
