<main class="container pt-5">
  <h4 class="mb-3">Portfolios</h4>
  <div class="d-flex justify-content-end">
    <%= link_to "new portfolio", new_portfolio_path, class: "btn btn-primary w-25" %>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 pt-3">
    <% portfolios.each do |portfolio| %>
      <%= render partial: "portfolio_card", locals: { portfolio: } %>
    <% end %>
  </div>
</main>
