<div class="container">
  <main>
    <div class="row g-5 py-5">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Intoduction</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-12">
              <label for="Name" class="form-label">Name</label>
              <input type="text" class="form-control" id="Name" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>


            <div class="col-sm-6">
              <label for="postal-code" class="form-label">Postal Code</label>
              <input type="text" class="form-control" id="postal-code" placeholder="Apartment or suite">
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </main>
</div>
